@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 224 66% 32%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --success: 122.7 39.5% 49.6%;
    --success-foreground: 210 40% 98%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .page-container {
    max-width: 1344px;
    @apply mx-auto;
  }
  // .page-container-fluid {
  //   max-width: 1440px;
  //   @apply mx-auto;
  // }
  .movie-list .swiper-slide {
    width: 300px;
    height: auto;
  }
  @media screen and (max-width: 767px) {
    .movie-list .swiper-slide {
      width: 340px;
      height: auto;
      margin-left: 6px;
    }
  }
  .banner .swiper {
    height: 100%;
  }
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  .selected {
    @apply text-primary_color;
  }
}
@media screen and (max-width: 768px) {
  .pagination {
    // display: flex;
    // flex-direction: column;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
}
.skeleton {
  background-color: #eee;
  background-image: linear-gradient(
    110deg,
    #ececec 8%,
    #f5f5f5 18%,
    #ececec 33%
  );
  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;
}
@keyframes shine {
  to {
    background-position-x: -200%;
  }
}
header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

@media screen and (max-width: 768px) {
  .main-content {
    padding-top: 100px;
  }
}
.main-content {
  background: rgb(238, 174, 202);
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(202, 206, 217, 1) 11%,
    rgba(222, 176, 208, 1) 18%,
    rgba(210, 178, 212, 1) 31%,
    rgba(199, 180, 216, 1) 43%,
    rgba(189, 181, 219, 1) 54%,
    rgba(185, 182, 220, 1) 58%,
    rgba(170, 184, 225, 1) 75%,
    rgba(203, 183, 187, 0.5691526610644257) 86%,
    rgba(148, 187, 233, 1) 100%
  );
  padding-top: 110px;
}
